html {
    font-size: 62.5%;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #2a2a2a;
    margin: 0;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

p {
    margin: 1.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav > a,
#banner #header {
    font-family: Inconsolata, monospace;
}

body > header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1d1d1c;
}

nav {
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

nav > a {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#container {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

main {
    padding: 1.5rem;
}

aside {
    font-style: italic;
}

article header {
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #e6e7e8;
    background-color: #2a2a2a;
}

article header h1,
article header h2,
article header h3,
article header h4,
article header h5,
article header h6 {
    margin: 0;
}

footer {
    padding: 1.5rem;
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #e6e7e8;
    background-color: #1d1d1c;
}

body > header {
    flex-flow: column nowrap;
    justify-content: center;
}

nav {
    margin-bottom: 1.5rem;
    flex-flow: column nowrap;
    align-items: stretch;
    box-shadow: #2a2a2a;
}

nav > a {
    margin: 0.5rem 1.5rem;
    padding: 1rem;
    border-radius: 3rem;
    color: #1d1d1c;
    background-color: #e6e7e8;
}

nav > a:first-child {
    margin-top: 0;
}

nav > a:last-child {
    margin-bottom: 0;
}

nav > a:link, nav > a:visited {
    color: #1d1d1c;
}

nav > a:hover, nav > a:active {
    background-color: #58595b;
    color: #e6e7e8;
}

main {
    display: block;
    margin: 1.5rem;
    border-radius: 3rem 0 3rem 0;
    background-color: #e6e7e8;
}

main a {
    padding: 0.5em;
    border-radius: 1em;
    color: #fff;
    font-weight: bold;
    background-color: #58595b;
}

.mobile {
    display: inherit;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

.equip {
    display: none;
}

@media only screen and (min-width: 660px) {
  body > header {
        position: fixed;
        height: 6rem;
        flex-flow: row nowrap;
        justify-content: flex-start;
  }

  #logo {
        flex-shrink: 0;
  }

  #logo > img {
        height: 6rem;
  }

  nav {
        height: 100%;
        margin: 0;
        flex-flow: row nowrap;
        align-items: center;
        flex-grow: 1;
  }

  nav a {
        height: 100%;
        margin: 0;
        padding: 0 1.5rem;
        box-sizing: border-box;
        border-radius: 0;
        display: flex;
        align-items: center;
        color: #e6e7e8;
        background-color: transparent;
  }

  nav a:link, nav a:visited {
        color: #e6e7e8;
  }

  nav a:hover, nav a:active {
        background-color: transparent;
        box-shadow: 0 -0.8rem 0 #e6e7e8 inset;
  }

  #nav-current {
        background: #e6e7e8;
        color: #1d1d1c;
  }

  #container {
        padding-top: 6rem;
        background-color: #1d1d1c;
  }

  #banner {
        height: calc((100vh - 6rem) / 3);
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        background-blend-mode: multiply;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        color: white;
        text-align: center;
  }

  #banner #header {
        font-size: 7rem;
        font-weight: bold;
  }

  #banner #sub {
        font-size: 2rem;
        font-weight: 500;
  }

  main {
        margin: 0;
        border-radius: 0;
  }

  /* Style specifies a font weight and top margin for description list terms */
  dt {
        font-weight: bold;
        margin-top: 0.7em;
  }

  /* Style rule for h1 element*/
  h1 {
        text-align: center;
  }

    /*!* Style for images within the figure element *!
    figure img {
        background-color: #1d1d1c;
        display: inline;
        height: 8em;
        width: 28%;
        margin: 1%;
        padding: 1%;
    }

    !* Style for anchor elements within the figure element *!
    figure a {
        background-color: transparent;
        padding: 0;
        text-decoration: none;
    }

    !* Style specifies bottom padding for the section element *!
    section {
        padding-bottom: 3em;
    }

    !* Style for h1 element within the section element *!
    section h1 {
        text-align: left;
    }

    !* Style for anchor element within the section element *!
    section a {
        background-color: transparent;
        color: #1d1d1c;
        font-weight: normal;
        padding: 0;
        text-decoration: underline;
    }

    !* Style for contact class *!
    .contact {
        background-color: transparent;
        color: #1d1d1c;
        padding: 0;
        text-decoration: underline;
    }

    !* Style for article element *!
    article {
        background-color: #c1d9ca;
        float: left;
        margin: 0.5%;
        padding: 0.5%;
        text-align: center;
        width: 31%;
    }

    !* Style for image element contained within the main article element *!
    main article img {
        border: solid 0.1em #1d1d1c;
        margin-left: auto;
        margin-right: auto;
    }

    !* Style for paragraph element contained within the main article element *!
    main article p {
        color: #000;
        margin-top: 2%;
        padding: 1%;
        text-align: left;
    }

    !* Style for unordered list element contained within the main article element *!
    main article ul {
        text-align: left;
    }

    !* Style for aside element *!
    aside {
        background-color: #fff;
        border-radius: 0 5em 5em 5em;
        box-shadow: 1em 1em 1em #4c4f4d;
        padding: 1.5em;
        margin: 1em;
    }*/
  .mobile {
        display: none;
  }

  .tablet {
        display: block;
  }

  .desktop {
        display: inline;
  }

  .equip {
        display: inline;
        float: left;
        margin-right: 1.5em;
  }

  .items {
        display: block;
        list-style-position: inside;
  }

  main {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
  }

  main > article {
        align-items: center;
        color: #e6e7e8;
        text-indent: 3rem;
        text-align: justify;
        background-color: #2a2a2a;
  }

  article {
        padding: 3rem 6rem;
        display: flex;
        flex-flow: column nowrap;
  }

  .row {
        width: 100%;
        min-height: calc((100vh - 6rem) / 3);
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        color: #1d1d1c;
        background-color: #e6e7e8;
  }

  .row:nth-child(odd) {
        flex-direction: row-reverse;
        background-color: #f3f4f4;
  }

  .row:nth-child(odd) article header {
        color: #f3f4f4;
  }

  .row .row-image {
        width: calc(100% / 3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
  }

  .row article {
        width: calc(200% / 3);
        align-items: flex-start;
  }
}
@media only screen and (min-width: 830px) {
  body {
        background-color: #fff;
  }

  /* Style applies color to h1 element */
  h1 {
        color: #fff;
  }

  nav a {
        padding: 0 3rem;
  }

  main {
        background-color: #2a2a2a;
  }

    /*!* Style specifies left and right padding for paragraph elements within the main
    element *!
    main p {
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    !* Style applies height and opacity to images within figure element *!
    figure img {
        height: 15em;
        opacity: 0.7;
    }

    !* Style removes transparency on hover *!
    figure img:hover {
        opacity: 1;
    }

    !* Style specifies color and left margin for the section element *!
    section {
        color: #fff;
        margin-left: 1em;
        padding-bottom: 5em;
    }

    !* Style for anchor element within the section element *!
    section a {
        color: #fff;
    }

    !* Style for paragraph within the section element *!
    section p {
        margin-left: 0;
    }

    !* Style for main h2 element *!
    main h2 {
        color: #fff;
    }

    !* Style for main article h2 element *!
    main article h2 {
        color: #000;
    }*/
  /* Style for contact class */
  .contact {
        color: #fff;
  }

  main > article > p {
        width: calc(200% / 3);
  }
}

/*# sourceMappingURL=styles.css.map */
